dist: focal
sudo: true
language: python
python:
  - "3.9"

before_install:
  - sudo apt-get install libgeos-dev libproj-dev proj-data graphviz libblas-dev liblapack-dev
  - wget https://apt.llvm.org/llvm.sh
  - chmod +x llvm.sh
  - sudo ./llvm.sh 10
  - ls /usr/bin/llvm*
  - export LLVM_CONFIG=/usr/bin/llvm-config
  # - sudo ln -s /usr/bin/llvm-config-10 /usr/bin/llvm-config

install:
  - pip install -r requirements.txt
  - pip uninstall -y shapely
  - pip install --no-binary shapely shapely

script:
  - python ./setup.py unittests
