astroid
bokeh
branca
Cython
docutils
ijson
importlib_metadata
IPython
interpret
isort
joblib
jupyter
matplotlib
numpy
pandas
pylint>=2.14.0
pymyinstall
pyshp
pytz
pyyaml
scikit-learn
statsmodels
tqdm
typing_extensions
sphinx
