dbfread
cartopy
catboost
category_encoders
chardet
coverage
descartes
dtreeviz
folium
geopandas
google_compute_engine
guzzle_sphinx_theme
jyquickhelper>=0.3
mlinsights>=0.2
msgpack
pandas_streaming
pyensae
pyltr
pyproj
pyquickhelper>=1.9.3240
spacy
shapely==1.6.4
sphinx-bootstrap-theme
sphinx-gallery
thinc>=7.1.1
ujson
wheel
xgboost
