bokeh
cartopy
Cython
descartes
gensim
jupyter
keras
matplotlib
notebook>=5.0.0
networkx
nltk
numba
numpy>=1.11.0
pandas>=0.20.0
pillow
pyproj
pyzmq
scikit-learn>=0.20.0
scipy
seaborn
spacy
Sphinx>=1.7
statsmodels
toolz
