dbfread
cairocffi
cairosvg
catboost
category_encoders
chardet
coverage
dtreeviz
folium
google_compute_engine
jyquickhelper>=0.3
lightgbm
mlinsights>=0.2
msgpack
pandas_streaming
pycodestyle
pyensae
pylint
pyltr
pyquickhelper>=1.9.3240
spacy
shapely
sphinx-bootstrap-theme
sphinx-gallery
sphinxcontrib-imagesvg
ujson
wheel
xgboost
