dbfread
catboost
chardet
coverage
descartes
folium
geopandas
google_compute_engine
guzzle_sphinx_theme
jyquickhelper>=0.3
mlinsights>=0.2
msgpack
pandas_streaming
pyensae
pyltr
pyproj
pyquickhelper>=1.9.3227
sphinx-bootstrap-theme
sphinx-gallery
ujson
wheel
xgboost
